In [1]:
import pandas as pd
from pathlib import Path
%matplotlib inline

In [2]:
# Establishing the current and previous closing prices of the S&P 500.
spx_current_close = 1884.660034
spx_prior_close = 1881.140015

# Daily Return Calculation
daily_return = ((spx_current_close - spx_prior_close ) / spx_prior_close)

# Converting daily_return to a percentage value
daily_return_pct = daily_return * 100

# Printing the result
print(f"The daily return for the S&P 500 was {daily_return: .5f} or {daily_return_pct: .2f}%")

The daily return for the S&P 500 was  0.00187 or  0.19%

In [3]:
import pandas as pd
stock_abc = pd.DataFrame({'close' : [11.25, 11.98, 10.74, 11.16, 12.35, 12.87, 13.03, 13.14, 13.37, 12.99]})
stock_abc.head(20)

   close
0  11.25
1  11.98
2  10.74
3  11.16
4  12.35
5  12.87
6  13.03
7  13.14
8  13.37
9  12.99

In [4]:
#stock_abc.shift(1)

In [5]:
stock_abc = (stock_abc - stock_abc.shift(5)) / stock_abc.shift(5)
stock_abc.head(20)

      close
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5  0.144000
6  0.087646
7  0.223464
8  0.198029
9  0.051822